{{#> layout }}
<div>{{> nav }}</div>
<div>{{> alerts }}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button
        class="btn btn-info app--buttonRequestAction"
        data-url="/remote/fetchRemotesByGroup/all"
        data-method="PUT"
      >
        Fetch all remotes
      </button>
      <button
        class="btn btn-info app--buttonRequestAction"
        data-url="/remote/fetchRemotesByGroup/fetchStatusError"
        data-method="PUT"
      >
        Fetch remotes with fetch error
      </button>
      <button
        class="btn btn-info app--buttonRequestAction"
        data-url="/remote/fetchRemotesByGroup/fetchStatusError"
        data-method="PUT"
      >
        Fetch remotes not fetched yet
      </button>
    </div>
    <div class="col">
      {{> recordsCountLabel totalCount=totalCount records=records }}
    </div>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        {{> tableHeader fields=fields sortValues=searchQuery.sort allowSort=true
        }}
      </tr>
      <tr class="app--searchBoxesWrapper">
        <td></td>
        {{> tableSearchInputs fields=fields searchValues=searchQuery.search }}
      </tr>
    </thead>
    <tbody>
      {{#each records }}
      <tr>
        <td>{{ addOne @index }}</td>
        {{> tableRow fields=../fields }}
        <td class="text-nowrap">
          <a
            class="link-secondary app--pointer app--buttonRequestAction"
            data-url="/remote/{{ _id }}/syncAll"
            data-method="POST"
          >
            [sync all]
          </a>
          <a
            class="link-secondary app--pointer app--buttonRequestAction"
            data-url="/remote/{{ _id }}/syncBranches"
            data-method="POST"
          >
            [sync branches]
          </a>
          <a
            class="link-secondary app--pointer app--buttonRequestAction"
            data-url="/remote/{{ _id }}/fetch"
            data-method="PUT"
          >
            [fetch]
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="js/tableHandler.js"></script>
<script src="js/buttonRequestAction.js"></script>
{{/layout}}
