<div class="input-group input-group-sm">
  <input
    type="text"
    class="form-control app--searchInput"
    aria-label="field {{ field }}"
    title="field {{ field }}"
    name="{{ field }}"
    value="{{ value }}"
  />
  <button type="button" class="btn btn-outline-secondary app--searchButton">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
