<span class="app--sortByLabel" data-app--field="{{ field }}">
  {{> @partial-block }}
  {{#if (eeq value 'asc') }}
  <i class="fa-solid fa-sort-up"></i>
  {{/if }}
  {{#if (eeq value 'desc') }}
  <i class="fa-solid fa-sort-down"></i>
  {{/if }}
</span>
