{{#> layout }}
{{> nav }}
{{> alerts }}
<div class="row">
  <div class="col">
    <button class="btn btn-info app--buttonSyncRepo">Sync repos</button>
  </div>
  <div class="col">
    {{> recordsCountLabel totalCount=totalCount records=records }}
  </div>
</div>
{{> tableSearch
  fields=fields
  searchQuery=searchQuery
  records=records
  allowSearch=true
  allowSort=true
}}
<script src="js/buttonSyncRepo.js"></script>
{{/layout}}
